@import "~bootstrap/scss/bootstrap.scss";

.container div{
    display:inline-block;
    background-color: black;
    font-size:80px;
   
    line-height:80px;
    padding:10px;
    color:white;
    
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
